include AUTHORS
include LICENSE
include README.rst
include ChangeLog
include tox.ini
include payload/versioninfo
recursive-include doc *
recursive-include tools *
recursive-include payload *.cfg, *.ini
