pbr
pecan
SQLAlchemy>=0.7.8,<0.7.99
sqlalchemy-migrate>=0.7.2

-f http://tarballs.openstack.org/oslo.config/oslo.config-1.2.0a3.tar.gz#egg=oslo.config-1.2.0a3
oslo.config>=1.2.0a3

eventlet>=0.12.0
iso8601
netaddr
